argparse
image-slicer
imageio
importlib-metadata
imutils
matplotlib
mrcfile
numpy
opencv-python
Pillow
ray
requests
scikit-image
scikit-learn
scipy
image_slicer
sklearn
tensorboard
tensorflow
tf_slim
